{% extends 'base.html' %}

{% block title %}
  {{ teacher.name }} detail
{% endblock %}

{% block content %}
  <div class="teacher_detail_div">
    <div class="card m-3">
      <div class="card-header">Tajriba: {{ teacher.experience_years }} | Fan: {{teacher.subject}}</div>
      <div class="card-body">
        <h5 class="card-title fs-1 pt-3 pb-3">{{ teacher.name }}</h5>
        <p class="card-text">{{ teacher.email }}</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a href="{% url 'teacher:teacher_list' %}" class="btn btn-secondary m-2">Orqaga qaytish</a>
        <a href="{% url 'teacher:edit_teacher' teacher.pk %}" class="btn btn-warning m-2">Tahrirlash</a>
        <a href="{% url 'teacher:delete_teacher' teacher.pk %}" class="btn btn-danger m-2">O'chirish</a>
      </div>
    </div>
  </div>
{% endblock %}
